body {
    font-family: 'Amiko', sans-serif;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    background: url("../../assets/Chat/ChatBackground.png");
    margin: 0;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.8);
}

.chat-profile {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(32px);
    width: 512px;
}

.chat-profile__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 16px 80px 16px;
    border-bottom: 1px solid #82ACC4;
}
.chat-profile__user-info {
    display: flex;
    align-items: center;
}

.chat-profile__user-info--avatar {
    width: 96px;
    border-radius: 75%;
}

.chat-profile__user-info-data {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.chat-profile__user-info-data--name {
    color: #232F36;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
}

.chat-profile__user-info-data--number {
    color: #547282;
    font-size: 14px;
}

.chat-profile__user-search--icon {
    width: 48px;
    height: 48px;
}

.chat-profile__user-search--icon:hover {
    cursor: pointer;
}

.chat-profile__contacts {
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow: auto;
}

.chat-profile__contact {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid #82ACC4;
    padding: 4px 8px;
}

.chat-profile__contact-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
}

.chat-profile__contact--avatar {
    width: 64px;
    border-radius: 75%;
}

.chat-profile__contact--name {
    text-decoration: none;
    color: #232F36;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
}

.chat-profile__contact--message {
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #547282;
    font-size: 14px;
}

.chat-profile__contacts::-webkit-scrollbar {
    width: 10px;
}

.chat-profile__contacts::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.chat-profile__contacts::-webkit-scrollbar-thumb {
    background-color: #B598EA;
    border-radius: 4px;
    border: 3px solid #FFFFFF;
}

.chat-profile__settings {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 64px;
}

.chat-profile__bottom-button {
   width: 50px;
}

.chat-profile__settings--logout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.chat-profile__bottom-button-text {
    color: #6B31D5;
    font-weight: bold;
    font-size: 24px;
    padding-left: 8px;
}

.chat-profile__bottom-light {
    width: 64px;
}

 .chat-profile__settings--logout:hover {
     cursor: pointer;
 }

 .chat-profile__settings--change-theme:hover {
     cursor: pointer;
 }

.chat-main-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chat-main-section--starter {
    font-weight: bold;
    font-size: 36px;
}